<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Aditi Sharma</h2>
            <h4>adittisharma072@gmail.com</h4>
        </div>
        <img src="https://img.freepik.com/premium-photo/young-woman-with-laptop-sitting-floor-pointing-finger-side_1368-53401.jpg" alt="Aditi Sharma">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>