<div class="wrapper">
    <div class="detail">
        <span class="head">ENERGY :</span>
        <p class="content">  156,610 kWh</p>
    </div>

    <div class="detail">
        <p class="head">LAST UPDATED :</p>
        <p class="content">  22/06/2021</p>
    </div>

    <div class="detail">
        <p class="head">NEXT HOUR PREDICTED ENERGY :</p>
        <p class="content">  157,393.05 kWh</p>
    </div>
</div>

<div class="charts">
    <h2>KEY PARAMETERS</h2>
    <div #chartTarget class="graph"></div>
    <div #chartTarget2 class="graph"></div>
    <div #chartTarget3 class="graph"></div>
    <div #chartTarget4 class="graph"></div>
    <div #chartTarget5 class="graph"></div>
</div>
