<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div fxLayout="row"  fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <app-dropdowns></app-dropdowns>
</div>

<div fxLayout="row"  fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <app-details></app-details>
</div>

<mat-divider></mat-divider>

<div fxLayout="row"  fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <div fxFlex=60 class="line">
        <app-widget-line></app-widget-line>
    </div>
    <div fxFlex=40 class="line2">
        <app-widget-line2></app-widget-line2>
    </div>
</div>

<!-- <button class="btn" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
<a href="#" class="float">
    <i class="fa fa-commenting-o my-float"></i>
</a>