/* .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 10px;
    margin: 5px;
    background-color: white;
}
.head {
    font-weight: 500;
    font-size: 15px;
} */